/*********************
    BREAKPOINTS
*********************/
.reveal {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all ease-in;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Veriables
==============================================*/
/* Main
==============================================*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: stolzl, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 3rem;
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
}
/* Links */
a:link {
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in;
}
a:link:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:visited, a:active {
  color: rgb(0, 0, 0);
}

/* Inputs */
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 16px;
  box-sizing: border-box;
}

img {
  border-radius: 25px;
}

/* Layout Elements
==============================================*/
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.wrapper__heading {
  text-align: center;
}
.wrapper__heading span {
  display: block;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1.6rem;
  }
}

.button-white {
  color: rgb(255, 255, 255) !important;
}
.button-white:hover {
  color: rgb(0, 0, 0) !important;
  background-color: #fff;
}

section, footer, .content-area, main {
  margin: 0 auto;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  section, footer, .content-area, main {
    padding: 36px;
  }
}

/* Header
==============================================*/
.main-header {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template: "nav logo tools";
  grid-template-columns: repeat(3, 1fr);
  padding: 18px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-header a {
  text-decoration: none;
  font-weight: 400;
}
.main-header__logo {
  grid-area: logo;
  font-size: 2.4rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
}
.main-header__nav {
  grid-area: nav;
  justify-self: start;
  align-self: center;
}
.main-header__nav .menu {
  display: none;
  padding: 0;
  list-style: none;
}
.main-header__nav .menu .menu-item {
  position: relative;
  cursor: pointer;
}
.main-header__nav .menu .menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease-in;
}
@media (any-hover: hover) {
  .main-header__nav .menu .menu-item:hover::after {
    width: 100%;
  }
}
.main-header__nav .menu.active {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  padding-top: 50px;
  background: #fff;
  min-height: 80vh;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 40px;
}
.main-header__nav .menu li {
  display: inline-block;
  padding: 0 32px;
}
.main-header__nav .menu-link {
  width: 2.4rem;
  height: 1.4rem;
  position: relative;
}
.main-header__nav .menu-link span {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 0.2rem;
  background-color: rgb(0, 0, 0);
}
.main-header__nav .menu-link span:first-child {
  top: 0;
}
.main-header__nav .menu-link span:last-child {
  bottom: 0;
}
.main-header__tools {
  grid-area: tools;
  justify-self: end;
  align-self: center;
}
.main-header__tools .tools-icon {
  padding: 0.6rem;
}
@media screen and (min-width: 768px) {
  .main-header {
    grid-template: "logo nav tools";
    background-color: rgba(255, 255, 255, 0);
  }
  .main-header__logo {
    justify-self: start;
  }
  .main-header__nav {
    justify-self: center;
  }
  .main-header__nav .menu {
    display: block;
  }
  .main-header__nav .menu-link {
    display: none;
  }
}
.main-header__search {
  position: absolute;
  top: -150%;
  opacity: 0;
}
.main-header__search.active {
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(240, 240, 240, 0.3882352941);
  opacity: 1;
  transition: 0.5s ease-in;
}

/* Hero
==============================================*/
.hero {
  position: relative;
  overflow: hidden;
}
.hero .tiny-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.hero .tiny-slider .tns-controls, .hero .tiny-slider .tns-nav, .hero .tiny-slider button {
  display: none;
}
.hero .tiny-slider .image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  opacity: 0.8;
  box-shadow: inset 0 0 0 2000px rgba(160, 160, 160, 0.499);
}
.hero__wrapper {
  text-decoration: none;
  height: 70vh;
  display: grid;
  align-content: end;
}
.hero__wrapper h1 {
  margin: 26px;
  margin-left: 0px;
  padding-bottom: 20px;
}
.hero .wrapper__heading {
  text-align: left;
  opacity: 0;
  animation: opacity 1.2s linear forwards;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    height: 88vh;
    align-content: center;
  }
}

/* Promo Card
==============================================*/
.standard-promo {
  display: grid;
}
@media screen and (min-width: 1424px) {
  .standard-promo {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 450px;
    gap: 40px;
  }
  .standard-promo .promo-card {
    display: grid;
    align-content: center;
  }
  .standard-promo .promo-card:hover .promo-card__titles {
    transform: translateX(5px);
  }
  .standard-promo .promo-card__titles {
    width: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.665);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.3s ease-in;
  }
  .standard-promo .promo-card__heading, .standard-promo .promo-card__body {
    max-width: 300px;
    text-align: center;
  }
  .standard-promo .promo-card__heading {
    margin: 0;
  }
  .standard-promo .promo-card__body {
    line-height: 3rem;
  }
  .standard-promo .promo-card--women, .standard-promo .promo-card--men {
    background-size: cover;
    background-position: right;
  }
}

/* Block */
.promo-card {
  text-decoration: none;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 25px;
  transition: 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* Element */
  /* Modifiers */
}
.promo-card__body {
  max-width: 70%;
}
.promo-card--gray {
  background-color: #f2f3f5;
}
.promo-card--women {
  background-image: url("../images/female.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
}
.promo-card--men {
  background-image: url("../images/male.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
}

/* Shop Section */
.shop-section__heading, .shop-section__body {
  text-align: center;
}

.shop {
  padding-top: 100px;
  padding-bottom: 50px;
}
.shop .woocommerce-product-gallery__image a img {
  width: unset !important;
  margin-bottom: 25px;
  border-radius: 25px;
}
.shop .product_title {
  font-size: clamp(25px, 5vw, 50px);
  line-height: clamp(45px, 7vw, 60px);
}

.woocommerce ul.products li.product .button {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  padding: 15px 25px;
  transition: 0.3s ease-in;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
}
.woocommerce ul.products li.product .button:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid rgb(0, 0, 0);
}

.woocommerce ul.products li.product a img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: box-shadow 0.4s ease-in !important;
}

.woocommerce ul.products li.product:hover a img {
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px 3px, rgba(0, 0, 0, 0.06) 3px 3px 3px 3px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  max-width: 90px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.price ins {
  font-size: 25px;
  text-decoration: none;
}

.shop-section__body {
  margin-bottom: 45px;
}

/*Cart*/
.wc-block-cart__empty-cart__title.with-empty-cart-icon:before {
  color: rgba(128, 128, 128, 0.666);
  font-size: 5px !important;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  padding: 15px 25px;
  transition: 0.3s ease-in;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
  border-radius: 15px;
  font-size: 15px !important;
}

.wc-block-grid__product-add-to-cart.wp-block-button:hover .wp-block-button__link {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: 1px solid rgb(0, 0, 0);
}

/*Product*/
.summary .single_add_to_cart_button {
  padding: 15px 25px !important;
  background-color: rgb(0, 0, 0) !important;
  font-size: 20px !important;
  border-radius: 5px !important;
}
.summary .qty {
  width: 100px !important;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 5px !important;
}

/* Newsletter */
.newsletter {
  display: grid;
  align-items: center;
  gap: 20px;
}
.newsletter__heading {
  max-width: 500px;
  line-height: 4rem;
  font-size: 3rem;
  margin: 0;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .newsletter {
    grid-template-columns: 2fr 1fr;
  }
}

.form .wpcf7-form-control-wrap {
  width: 100%;
  margin-bottom: 20px;
}
.form .wpcf7-form-control-wrap input {
  width: 100%;
  background-color: rgba(208, 208, 208, 0.4549019608);
}
.form .wpcf7-submit {
  width: 100%;
  min-height: 70px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.form .wpcf7-submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.form .wpcf7-spinner {
  transform: translateY(-45px);
}

/* Footer */
.footer {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer-container__heading {
  display: flex;
  justify-content: space-between;
}
.footer-container__body {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container__body a {
  display: block;
  padding: 8px 0;
}
.footer-container__body.active {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-container__body {
    display: block;
  }
  .footer-container__heading {
    justify-content: start;
    align-items: center;
  }
  .footer-container__heading svg {
    display: none;
  }
}

/* CopyRight */
.copyright {
  margin-top: 20px;
  text-align: center;
}
.copyright__social a {
  padding: 10px;
}
.copyright__body {
  margin: 40px 0;
}

/* Page hero */
.page-hero {
  border-radius: 25px;
  display: grid;
  height: 60vh;
  background-size: cover;
  opacity: 0.7;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-position: center;
  justify-items: center;
  align-items: center;
  color: #fff;
  margin: 20px 0;
  margin-top: 45px;
}
.page-hero__heading {
  color: #fff;
}

/*Custom scroll*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=style.css.map */
